html{
  height: 100%;
}
body{
  min-height: 100%;
  position: relative;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #fff;
}
body::after {
  content: '';
  display: block;
  height: 200px; /* Set same as footer's height */
}
.detalle{
  padding: 20px 0;
}
.detalle h4{
  text-align: left;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #fff;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.detalle .button3{
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 25px auto;
  padding: 0 0 0 0;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;

}
.detalle .button2{
  border: 1px solid #581845;
  background-color: #581845;
  border-radius: 50px;
  margin: 25px auto;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.crear. .button2{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}
img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
h1{
  color: #581845;
  font-weight: 900;
  padding-top: 5px;
  letter-spacing: 5px;
}
.iso{
  color:#fff;
}
h2{
  font-size: 2em;
  font-weight: bold;
}
h3{
  font-size: 1.1em;
  padding: 10px 0 0 0;
  text-transform: uppercase;
}
h4{
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color: #fff;
}
h5{
  font-size: 1em;
}
h6{
  font-size: 100px;
  font-weight: lighter;
  color:#581845;
}
.divisor{
  border-top: 1px solid #aaa;
  margin: 30px auto;
  display: block;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}
.nav-link{
  font-size: 1.5em;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: #fff;
}
.row{
  margin: 0 auto;
}

ul.principal{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 50px 0 -30px 0;
}
ul.principal li{
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
  /* float: left; */
}
ul.principal li a{
  color: #fff;
  text-decoration: none;
  transition: .5s;
}
ul.principal li a:hover{
  color: #aaa;
  transition: .5s;
}
nav i{
  color: #000;
  font-size: 30px;
  padding: 10px 5px 10px 5px;
}
.navbar-toggler{
  background-color: #581845;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  border: none;
}
.ui.button{
   background-color:#581845;
   color: white;
}
div.ui.center.aligned.grid{
/*background-color: #020003;*/
height: 700px;
/*height:100%;*/
}
div.column{
 align-self: center;
 box-sizing: border-box;
 display: block;
 flex-direction:column;
 max-width: 450px;
 position: relative;
 width: 450px;
 vertical-align: middle;
}
/* form.ui.form.segment{
  align: center;
  box-sizing: border-box;
  display: block;
  flex-direction:column;
  max-width: 450px;
  position: relative;
  text-align: left;
 } */
#login{
  display: flex;
}
#login li img{
  border-radius: 50%;
  width: 50px;
}
.dropdown-menu{
  background-color: #000;
}
.dropdown-item{
  color: #fff;
}
.dropdown-divider{
  border-top: 1px solid #581845;
}
main{
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
}
section{
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  color: #333;
}
.signup{
  background-color: #000;
}
input{
  width: 100%;
  /*display: block;*/
  border: none;
  border-bottom: #fff solid 1px;
  padding: 6px 30px;
  font-family: 'Montserrat' sans-serif;
  box-sizing: border-box;
}

.carousel-item {
  height: 90vh;
  min-height: 350px;
  text-transform: uppercase;
}
.recomendados{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recomendados img{
  display:block;
  margin:auto;
  width: 100%;
}
.busqueda{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.slide{
  border-top: 2px solid #581845;
  background: linear-gradient(70deg, black, white);
}
input[type="text"]{
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0 0 0;
  padding: 8px;
  background: none;
}
input[type="text"]:focus{
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
input[type="submit"]:focus{
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
input[type="text"]::placeholder{
  color:#aaa;
  font-style: oblique;
}
.inputWithIcon input[type="text"]{
  padding-left: 50px;
  color: #fff;

}
.inputWithIcon{
  position: relative;
  text-align: center;
  float: left;

}
.inputWithIcon i{
  position: absolute;
  left: 0;
  top: 35px;
  padding: 9px 30px;
  color: #fff;
  transition: .9s;
}
.buscador{
  margin: 30px auto;
}
.buscador .boton{
  padding-top:30px;
  float:right;
}
.buscador .button{
  border-radius: 10px;
  background-color:#581845;
  color: white;
  border: none;
  height: 43px;
}
.carousel-caption .button{
  border-radius: 10px;
  width: 200px;
  background-color:#581845;
  color: white;
  border: none;
  height: 43px;
}
.img{
  display:block;
  margin:auto;
  width: 100%;
}
.button{
  /*border-radius: 10px;
  width: 200px;
  background-color:#581845;
  color: white;
  border: none;
  height: 43px;
  align-items: flex-start;*/
  border-radius: 50px;
  border: none;
  margin: 25px auto;
  padding: 0 0 0 0;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  background-color:#581845;
  color: #fff;
}

.resumen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}


.button2{
  /*border-radius: 10px;
  width: 200px;
  background-color:#fff;
  color: #581845;
  border: none;
  height: 43px;*/
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 25px auto;
  padding: 0 0 0 0;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
}
.button:hover{
  background-color: #fff;
  text-decoration: none;
  color: #581845;
}

.button3:hover{
  background-color: #fff;
  text-decoration: none;
  color: #581845;
}

.button2:hover{
  background-color: #fff;
  color: #581845;
}

.cards{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin: 25px;
}
.card-img-top{
  width: 75%;
  justify-content: flex-start;
}
.card-title{
  text-align: center;
}
.card-body{
  padding: 15px 0;
  width: auto;
  margin: 15px;
  background-color: #fff;
  border-radius:10px;
}
.compra .card-body{
  padding: 0;
}
.btn-cards{
  display:flex;
  flex-direction: column;
  align-items: baseline;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #581845;
  text-align: center;
  color: #fff;
  padding: 15px;
  width: 60px;
  height: 60px;
  border-radius:50%;
  transition: .5s;
  float: right;

}
.btn-cards:hover{
  color: #581845;
  border: 1px solid #581845;
  box-sizing: border-box;
  background-color: #fff;
  text-decoration: none;
  transition: .5s;
}
.compra{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000;
  margin: 0 auto;
}
.compra .card{
  margin: 20px auto;
  padding: 15px 15px 0 15px;
  border: none;
}
.compra .card-title{
  text-align: left;
  font-weight: bold;
}
.compra .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor .boton_eliminar{
  position: absolute;
  top: 10px;
  left: 10px;
}
.contenedor .boton_eliminar .button_eliminar i{
  color: #fff;
  border-radius: 50%;
}
.compra .contenedor img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  .contenedor img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.compra input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}
footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 200px;
  padding: 30px 0;
  margin-top: -200px;
}
ul.footer{
  margin: 15px 0 0 0;

}
ul.footer li{
  text-decoration: none;
  list-style: none;
  text-align: right;
  text-transform: uppercase;
}
ul.footer li a{
  color: #aaa;
}
ul.footer li a:hover{
  color: #fff;
  text-decoration: none;
}
.carousel-caption{
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listado{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom:25px
}
#listado a{
  text-decoration: none;
  color: #fff;
}
@media (min-width: 768px){
  /* Breakpoints 576 768 992 1200 */
  .nav-link{
    font-size: 1em;
    padding: 0;
  }
  .nav-item{
    border-right: 1px solid #fff;
  }
  .dropdown-toggle{
    margin-top: 0.4em;
  }
}
@media (min-width: 992px){
  /* Breakpoints 576 768 992 1200 */
  .nav-link{
    font-size: 1.2em;
    padding: 0;
  }
  .nav-link2{
    font-size: 2em;
  }
  .nav-item{
    border-right: 1px solid #fff;
  }
  .nav-item:last-child {
    border-right: none;
  }
  .nav-item2{
    text-transform: none;
    text-align: left;
  }
  h2{
    font-size: 4em;
    font-weight: bold;
  }
  .carousel-caption h2{
    text-shadow: 5px 5px 15px #0a0e27;
  }
  h3{
    font-size: 1.4em;
  }
  h4{
    font-size: 1.8em;
  }
  img{
    display:block;
    margin:auto;
    width: 100%;
  }
  .card-title{
    text-align: left;
  }
  .card-img-top{
    width: 100%;
  }

  ul.principal{
    margin: 50px 0 50px 0;
  }
  ul.principal li{
    margin-bottom: 0;
    /* float: left; */
  }
  .dropdown-toggle{
    margin-top: 0.4em;
  }
  .carousel-caption{
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left:55%;
    text-align: left;
    float: right;
  }
  .compra{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #000;
    margin: 20px auto;
  }
.resumen {
  display: flex;
  justify-content: center;
}
  }
